[submodule "misskey"]
	path = misskey
	url = https://github.com/volcanocoffee-monster/misskey.git
	branch = master
[submodule "hosts"]
	path = hosts
	url = https://github.com/volcanocoffee-monster/hosts.git
 
